@charset "UTF-8";
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}
/*Typical devices breakpoints
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop :992px até 1200px
Grandes telas : acima de 1200px
*/

/*Tablet */
@media screen and (min-width:768px) and (max-width:992px){
    header{
        background-image: linear-gradient(to bottom, var(--cor3) , var(--cor5));
    }
    header h1{
        font-size: 5.5em;
    }
    header p{
        font-size: 1em;
    }
    span#burguer{
        display: none;
        
    }
    menu{
        display: block;
        background-color: var(--cor4);
    }
    menu>ul>li{
        display: inline-block;
    }
    main{
        width: 75vw;
        height: 300px;
    }
    main h2{
        font-size: 1.4em;
    }
    h2.transp{
        font-size: 1.4em;
        height: 22px;
    }
    main p{
        font-size: 1.2em;

    }
    menu > ul >li >a{
        border-top: 0px;
        padding: 20px;
        color: var(--cor1);
        background-color: var(--cor4);
    }
    menu> ul >li> a:hover{
        background-color: var(--cor3);
        color: var(--cor5);
        transition-duration: 0.7s;
    }
    /*onfigurações das imagens*/
    section#noticias img{
        width: 250px;
        height: 200px;
        padding-left: 20px;
    }
    p.jogosp{
        font-size: 2.0em;
        display: inline-block;
        padding-left: 20px;
        color: var(--cor5);
    }
    /*Aumento de parágrafos em telas grandes*/
    p#jogo{
        font-size: 1.0em;
        position: absolute;
        top: 110px;
        text-align: justify;
        width: 350px;
    }
    p#baseball{
        font-size: 1.0em;
        position: absolute;
        top: 330px;
        text-align: justify;
        width: 350px;
    }
    p#ciclismo{
        font-size: 1.0em;
        position: absolute;
        text-align: justify;
        top: 550px;
        width: 360px;
    }
    p#natacao{
        font-size: 0.9em;
        position: absolute;
        bottom: 345px;
        text-align: justify;
        width: 358px;
    }
    p#corrida{
        font-size: 0.9em;
        position: absolute;
        font-weight: bolder;
        bottom: 40px;
        text-align: justify;
        width: 355px;
    }
}

/*Desktop*/
@media screen and (min-width:992px) and (max-width:1200px){
    header{
        background-image: linear-gradient(to bottom, var(--cor3) , var(--cor5));
    }
    header h1{
        font-size: 5.5em;
    }
    header p{
        font-size: 1em;
    }
    span#burguer{
        display: none;
        
    }
    menu{
        display: block;
        background-color: var(--cor4);
    }
    menu>ul>li{
        display: inline-block;
    }
    main{
        width: 75vw;
        height: 260px;
    }
    main h2{
        font-size: 1.5em;
    }
    h2.transp{
        font-size: 1.5em;
        height: 26px;
    }
    main p{
        font-size: 1.2em;

    }
    menu > ul >li >a{
        border-top: 0px;
        padding: 20px;
        color: var(--cor1);
        background-color: var(--cor4);
    }
    menu> ul >li> a:hover{
        background-color: var(--cor3);
        color: var(--cor5);
        transition-duration: 0.7s;
    }
    /*configurações das imagens*/
    section#noticias img{
        width: 250px;
        height: 200px;
        padding-left: 20px;
    }
    p.jogosp{
        font-size: 2.0em;
        display: inline-block;
        padding-left: 20px;
        color: var(--cor5);
    }
    /*Aumento de parágrafos em telas grandes*/
    p#jogo{
        font-size: 1.0em;
        position: absolute;
        top: 120px;
        text-align: justify;
        width: 550px;
    }
    p#baseball{
        font-size: 1.0em;
        position: absolute;
        top: 340px;
        text-align: justify;
        width: 550px;
    }
    p#ciclismo{
        font-size: 1.0em;
        position: absolute;
        text-align: justify;
        top: 560px;
        width: 560px;
    }
    p#natacao{
        font-size: 1.0em;
        position: absolute;
        bottom: 350px;
        text-align: justify;
        width: 550px;
    }
    p#corrida{
        font-size: 1.0em;
        position: absolute;
        font-weight: bolder;
        bottom: 40px;
        text-align: justify;
        width: 555px;
    }
}

/*Monitor*/
@media screen and (min-width:1200px) and (max-width:1550px){
    header{
        background-image: linear-gradient(to bottom, var(--cor3) , var(--cor5));
    }
    header h1{
        font-size: 5.5em;
    }
    header p{
        font-size: 1.0em;
    }
    span#burguer{
        display: none;
        
    }
    menu{
        display: block;
        background-color: var(--cor4);
    }
    menu>ul>li{
        display: inline-block;
    }
    main{
        width: 75vw;
        height: 340px;
    }
    main h2{
        font-size: 1.7em;
    }
    h2.transp{
        font-size: 1.7em;
        height: 30px;
    }
    main p{
        font-size: 1.5em;

    }
    menu > ul >li >a{
        border-top: 0px;
        padding: 20px;
        color: var(--cor1);
        font-size: 1.2em;
        background-color: var(--cor4);
    }
    menu> ul >li> a:hover{
        background-color: var(--cor3);
        color: var(--cor5);
        transition-duration: 0.7s;
    }
    /*configurações das imagens*/
    section#noticias img{
        width: 350px;
        height: 300px;
        padding-left: 20px;
    }
    p.jogosp{
        font-size: 2.0em;
        display: inline-block;
        padding-left: 30px;
        color: var(--cor5);
    }
    /*Aumento de parágrafos em telas grandes*/
    p#jogo{
        font-size: 1.4em;
        position: absolute;
        top: 145px;
        text-align: justify;
        width: 545px;
    }
    p#baseball{
        font-size: 1.4em;
        position: absolute;
        top: 490px;
        text-align: justify;
        width: 550px;
    }
    p#ciclismo{
        font-size: 1.4em;
        position: absolute;
        text-align: justify;
        top: 790px;
        width: 555px;
    }
    p#natacao{
        font-size: 1.4em;
        position: absolute;
        bottom: 450px;
        text-align: justify;
        width: 515px;
    }
    p#corrida{
        font-size: 1.4em;
        position: absolute;
        font-weight: bolder;
        bottom: 50px;
        text-align: justify;
        width: 555px;
    }
}
/*Telas maiores que 1550px*/
@media screen and (min-width:1550px){
    header{
        background-image: linear-gradient(to bottom, var(--cor3) , var(--cor5));
    }
    header h1{
        font-size: 5.5em;
    }
    header p{
        font-size: 1.0em;
    }
    span#burguer{
        display: none;
        
    }
    menu{
        display: block;
        background-color: var(--cor4);
    }
    menu>ul>li{
        display: inline-block;
    }
    menu > ul >li >a{
        border-top: 0px;
        padding: 20px;
        color: var(--cor1);
        font-size: 1.3em;
        background-color: var(--cor4);
    }
    menu> ul >li> a:hover{
        background-color: var(--cor3);
        color: var(--cor5);
        transition-duration: 0.7s;
    }
    main{
        width: 75vw;
        height: 280px;
    }
    main h2{
        font-size: 1.7em;
    }
    h2.transp{
        font-size: 1.9em;
        height: 35px;
        padding-left: 30px;
    }
    main p{
        font-size: 1.5em;

    }
    
    /*configurações das imagens*/
    section#noticias img{
        width: 600px;
        height: 410px;
        padding-left: 20px;
    }
    p.jogosp{
        font-size: 2.0em;
        display: inline-block;
        padding-left: 50px;
        color: var(--cor5);
    }
    /*Aumento de parágrafos em telas grandes*/
    p#jogo{
        font-size: 1.6em;
        position: absolute;
        top: 175px;
        text-align: justify;
        width: 550px;
        font-weight: normal;
        color: var(--cor5);
    }
    p#baseball{
        font-size: 1.6em;
        position: absolute;
        top: 630px;
        text-align: justify;
        width: 550px;
        font-weight: normal;
        color: var(--cor5);
    }
    p#ciclismo{
        font-size: 1.6em;
        position: absolute;
        text-align: justify;
        top: 1030px;
        width: 535px;
        font-weight: normal;
        color: var(--cor5);
    }
    p#natacao{
        font-size: 1.6em;
        position: absolute;
        bottom: 600px;
        text-align: justify;
        width: 535px;
        font-weight: normal;
        color: var(--cor5);
    }
    p#corrida{
        font-size: 1.7em;
        position: absolute;
        font-weight: bolder;
        bottom: 50px;
        text-align: justify;
        font-weight: normal;
        width: 560px;
    }
    img#natacao{
        margin-bottom: 30px;
    }
    /*Rodapé*/
    footer{
        background-color: var(--cor5);
        height: 150px;
    }
    footer p{
        text-align: center;
        padding-top: 40px;
        color: white;
    }
    footer a{
        color: white;
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.1em;
    }
    footer a:hover{
        text-decoration: underline;
    }
    a#Criadores{
        font-size: 1.7em;
        text-decoration: none;
        font-variant: small-caps;
    }
}